@using WebSiteBanHang.Models
@model IEnumerable<SanPham>


        @foreach (var item in Model.Take(3))
        {
            <div class="col-md-4 grid-top">
                <a href="/SanPham/Xemchitiet?id=@item.MaSP" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src=@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh) alt="">                 
                </a>
                <p><a href="/SanPham/XemChiTiet">@item.TenSP</a></p>
                <p><a href="#">Giá : @item.DonGia</a></p>
                <button class="btnThemGioHang" data-masp="@item.MaSP">Thêm vào giỏ hàng</button>

            </div>
        }
        <div class="clearfix"> </div>
<!----->