@using WebSiteBanHang.Models
@model IEnumerable<SanPham>


        @foreach (var item in Model.Take(3))
        {
            <div class="col-md-4 grid-top">
                <a href="/SanPham/XemChiTiet?id=@item.MaSP" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src=@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh) alt="">
                            

                </a>
                <p><a href="single.html">@item.TenSP</a>
                    <h3>Giá : @item.DonGia</h3>
                </p>
            </div>
            <div class="clearfix"></div>
        }

<!----->
