@model IEnumerable<WebSiteBanHang.Models.SanPham>


<div class="col-md-6 men">
    <a href="/SanPham/XemChiTiet?id=@Model.ElementAt(0).MaSP" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(0).HinhAnh)" alt="">
        
    </a>
</div>
<div class="col-md-6">
    <div class="col-md1 ">
        <a href="/SanPham/XemChiTiet?id=@Model.ElementAt(1).MaSP" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(1).HinhAnh)" alt="">
        </a>

    </div>
    <div class="col-md2">
        <div class="col-md-6 men1">
            <a href="/SanPham/XemChiTiet?id=@Model.ElementAt(2).MaSP" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(2).HinhAnh)" alt="">
            </a>

        </div>
        <div class="col-md-6 men2">
            <a href="/SanPham/XemChiTiet?id=@Model.ElementAt(3).MaSP" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(3).HinhAnh)" alt="">
            </a>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>

