<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css"><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all">

    <link rel="icon" href="~/Content/images/icon.ico" />
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Content/js/simpleCart.min.js"> </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body>
    <!--header-->
    <div class="header">
        @Html.Partial("~/Views/Layout/HeaderTopPartial.cshtml")

        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="/" style="text-decoration:none;"><img src="~/Content/images/icon.png" height="50" width="50" alt="Trang chủ"> <span style="font-size:20px;">Mobile Shopping</span></a>
                </div>
                @Html.Action("MenuPartial","Home")


                <div class="clearfix"> </div>
            </div>
        </div>

    </div>

    <div class="banner">
        <div class="container">
            <script src="js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>
            <div id="top" class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider">
                    <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">

                        <div class="banner-text">
                        </div>

                    </li>

                </ul>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="content">
        @RenderBody()

    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>THÔNG TIN KHÁC</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Làm thế nào để đặt hàng</a></li>
                        <li><a href="#">Địa chỉ cửa hàng</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>

                    <p>hottel:  +12 34 995 0792</p>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/"><i class="facebook"> </i></a></li>
                        <li><a href="https://twitter.com/"><i class="twitter"> </i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="instagram"> </i></a></li>
                        <li><a href="https://mail.google.com/"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>TIN TỨC MỚI</h4>
                    <p>
                        Đăng kí để nhận thêm nhiều thông tin hơn !
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p> 2020 Mobile Shopping -- MTA </p>
        </div>
    </div>


</body>
</html>
